body{
  font-family: 'Permanent Marker', cursive;
  font-size:100%;
}

h1 {
  font-size: 8vw;
  font-weight: bold;
  color: #f44336;
}

h2 {
  font-size: 6vw;
}

p {
  font-size: 4vw;
}

p strong {
  font-weight: bold;
  color: #f44336;
}

img {
  width: 95%;
  margin: 2vw;
}

input {
  padding: 2vw;
  margin: 2vw;
}

button {
  font-family: 'Roboto', sans-serif;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  width: 100%;
}

.hidden{
  display: none;
}

.show{
  display: block;
}

.trafficLight {
  display:block;
}

.buttonBlue {background-color: #008CBA;}
.buttonRed {background-color: #f44336;}
.buttonYellow {
  background-color: #FFFF00;
  color: #4CAF50;
}
.buttonGreen {background-color: #4CAF50;}
